@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary: #1A99D5;
$accentToPrimary: #3c94bc;
$fontFamily: 'Roboto';
$regularFont: 400;
$mediumFont: 500;
$boldFont: 700;
$white: #fff;
$contentFontColor: #3b3e43;


