
// .navContainer
//     border-top: 1px solid black;
//     padding: 30px;
//     background: #343434;
//     position: fixed;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     height: 100% !important;

nav
    width: 17%;
    height: 100% !important;
    background-color: $primary;
    color: $white;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

section
    border-bottom: solid 1px darken($primary, 10%);
    background-color: $accentToPrimary;
    padding: 10px 0 0 20px;

.logoContainer
    width: 40px;
    height: 20px;
    background: $primary;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: inline-table;
    margin-right: 8px;
    font-weight: $mediumFont;
    font-size: 18px;

.logo
    background-color: darken($primary, 10%);
    height: 70px;

    span
        font-size: 15px;

.configuring
    background-color: $primary;
    height: 80px;

    span
        font-size: 14px;