@import "partials/_global";

html body
    font-family: $fontFamily;
    font-weight: $regularFont;
    min-height: 100%;
    padding: 0;
    margin: 0;

.container
    width: 100%;
    height: 100%;
    background: $white;

.footer
    clear: both;

.centered
    margin: auto;