@import "partials/_custom";
@import "partials/_nav";
@import "partials/_content";

html body
    font-family: $fontFamily;
    font-weight: $regularFont;
    height: 100%;

.container
    width: 100%;
    height: 100%;
    background: $white;
    display: table;

.loadingPlaceholder
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);

.footer
    clear: both;