.entryDiv
    background-color: #003682;
    width: 100%;
    height: 100% !important;
    position: absolute;

.selectConfiguration
    position: absolute;
    background: #fff;
    height: 300px;
    width: 600px;
    margin: -100px 0 0 -300px;
    top: 50%;
    left: 50%;
    padding: 15px;


    div
        margin: auto;
        text-align: center;

    label
        margin-right: 10px;
    
    p:nth-child(odd)
        padding-top: 10px;

.ant-select-selection-selected-value
    padding-left: 10px;