$activeBlue: #003682;
$activefontcolor: #fff;

.topLevelNav
    width: 30%;
    float: left;
    border-right: solid 1px #00265c;
    height: 100%;

ul
    margin: 10 0 0;
    padding: 0;
    list-style: none;
    width: 100%;

li
    display: inline-block;
    margin: 0 0 20px 0
    width: 100%;
    text-align: center;
    cursor: pointer;

a
    display: block;
    color: $activefontcolor;
    padding: 20px 0;
    text-decoration: none;
    width: 100%;

a:hover
    text-decoration: none;
    color: $activefontcolor;

a:active
    background-color: $activeBlue
    color: $activefontcolor
    padding: 20px 0;
    width: 100%;

.active
    background-color: $activeBlue
    color: $activefontcolor
    padding: 20px 0;
    width: 100%;