@import url('https://fonts.googleapis.com/css?family=Roboto');

$fontFamily: 'Roboto'
$emphasis: bold, 15px;

$teal: blue;
$white: #fff
$text-color: blue;

body
  font-family: $fontFamily;

.text
  color: $text-color;
